* {
  margin: 0;
  padding: 0;
}

$myColor: #24292e;
$fontColor: white;
$fontColorsecond: rgba(0, 0, 0, 0.7);

.content {
  display: flex;
  padding-bottom: 8px;
  margin-bottom: 6px;
  border-bottom: 1px solid #e1e4e8;
}

.profile {
  width: 220px;
  height: 220px;
  border: 1px solid #e1e4e8;
}

.update {
  display: flex;
}

.list {
  height: auto;
  border-bottom: 1px solid #e1e4e8;
  .listrepo {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: bold;
    display: inline;
  }
  .type {
    margin: 0;
    padding: 0;
  }
  .createatt {
    display: flex;
    margin: 0 0 5px 0;
    padding: 0;
    color: $fontColorsecond;
    font-size: 12px;
  }
}

.buttonsearch {
  color: #fff;
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058, #28a745 90%);
  padding: 3px 18px 3px 18px;
  border: none;
}

.buttonsearch :hover {
  background-color: #0d441a;
  box-shadow: 3px 3px 5px #1b1c1f, -3px -3px 5px #222b45;
}

.input-search {
  padding: 3px;
  margin-right: 10px;
}

.name {
  font-size: 20px;
  color: $fontColorsecond;
  margin: 5px 5px;
}

.card-profile {
  border: 1px solid #e1e4e8;
  width: 222px;
}

.desc {
  width: 222px;
  margin: 15px 0;
  display: flex;
  justify-content: space-evenly;
}
